h1,
h2,
h3,
h4,
h5,
h6
{
    -webkit-margin-after: inherit;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: inherit;
}

@font-face {font-family: 'webfont';
    src: url('../font/webfont.svg'); /* IE9*/
    src: url('../font/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/webfont.woff') format('woff'), /* chrome、firefox */
    url('../font/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
.web-font{
    font-family:"webfont" !important;
    font-size:1.6rem;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.sp-nav-logo{
    width: 12%;
    float: left;
    margin-left: 15%;
}
.sp-nav-logo>.enterprise-name{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #fff;
}
.sp-logo-white{
    display: block;
    background-size: cover;
    background-image: url("../img/logo-white.png");
}
.sp-logo-blue{
    display: block;
    background-size: cover;
    background-image: url("../img/logo-blue.png");
}
.nav-fixed>.sp-nav-logo>.sp-logo-white{
      background-image: url("../img/logo-blue.png");
}
.nav-fixed>.sp-nav-logo>.enterprise-name{color:#4A4A4A;}
.nav-logo-white{
    width: 30px;
    padding-top: 30px;
    margin-right: 5px;
    float: left;
}
.footer-logo-white{
    width: 60px;
    height: 60px;
}

.intro-data{
    padding:10% 0;
}
.intro-data .intro-text{
    width: 50%;
    float: left;
    font-size: 1.4rem;
    color: #fff;
}
.intro-text .web-font{
    display: block;
    padding: 1rem 0;
    font-size: 4.8rem;
}
.intro-data .header-data-bg{
    width: 45%;
    padding-top: 28%;
    float: left;
    background-size: cover;
    background-image: url("../img/header-data.png");
}
.video-details{
    width: 160px;
    padding: 1rem 1.5rem;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    border-radius: 100px;
    border: 1px solid #fff;
    cursor:default
}

/*正在做的事*/
.are-doing{
    width: 100%;
    background: #F0F4F8;
}
.are-doing .web-font{
    display: block;
    padding: 10% 0 6% 0;
    text-align: center;
}
.are-doing-list{padding-bottom: 4rem}
.are-doing-list>li{
    position: relative;
    float: left;
    width: 25%;
    margin: 0 5.5%;
}
.are-doing-list>li:nth-child(2){
    margin: 0;
}
.are-doing-list>li .are-doing-list-top{
    padding: 15% 0 10% 0;
}
.are-doing-list-bg{
    width: 30%;
    padding-top: 30%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.data-collect{
    background-image: url("./../img/sketchbook.png");
}
.data-roots{
    padding-top: 28%;
    background-image: url("./../img/graphic-design.png");
}
.data-brainstorm{
    background-image: url("./../img/brainstorm.png");
}
.data-collect-text{
    padding:10% 15% 20% 15%;
}

/*hover部分*/
.are-doing-list-hover {
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.15);
}
.are-doing-list-hover .are-doing-list-top{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-image: linear-gradient(135deg, #2577FF 50%, #00BEFF 100%);
}
.are-doing-list-hover .are-doing-mouse{
    display: block !important;
    right: -1.2rem;
    bottom: -1rem;
}
.mouse{
    display: none;
    position: absolute;
    width: 6%;
    padding-top: 6%;
    background-size: cover;
    background-image: url("./../img/mouse.png") !important;
}
.are-doing-list-hover .are-doing-list-top> .data-collect{
    background-image: url("./../img/sketchbook1.png") !important;
}
.are-doing-list-hover .are-doing-list-top> .data-roots{
    background-image: url("./../img/graphic-design1.png") !important;
}
.are-doing-list-hover .are-doing-list-top> .data-brainstorm{
    background-image: url("./../img/brainstorm1.png") !important;
}

/*我们的服务*/
.service{
    padding: 10% 0;
}
.service .service-text{
    width: 40%;
    float: left;
}
.service .service-text >.mouse{
    display: block !important;
    right: 1.5rem;
}
.service .service-text p:hover{
    color: #fff;
    background: #206CFF;
    cursor:default
}
.service .service-bg{
    float: right;
    width: 50%;
    padding-top: 27%;
    background-size: cover;
    background-image: url("./../img/service-bg.png");
}
.service .service-details, .office-details{
    width: 200px;
    line-height: 5rem;
    margin-top: 2rem;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    background: #FCB814;
    border-radius: 100px;
    cursor:default
}

/*我们的成绩*/
.results-container{background: #206CFF;}
.results-container .web-font{
    display: block;
    font-size: 4.8rem;
    text-align: center;
    padding-top: 5%;
}
.results-list{
    margin: 5% 0 15% 0;
}
.results-list>li{
    position: relative;
    float: left;
    width: 19.5%;
    margin: 2% auto;
    padding: 2% 1.2%;
    color: #fff;
    text-align: center;
}
.results-list>li .text{
    font-size: 3.6rem;
}
.results-list>li .wavy-lines{
    display: block;
    width: 60%;
    padding-top: 6%;
    margin: 10px auto 0 auto;
    background-size: cover;
    background-image: url("../img/wavy-lines1.png");
    background-repeat: no-repeat;
}
.text-unit{
    font-size: 1.8rem;
}

.results-list>li:hover{
    color: #3967D6;
    background: #FFFFFF;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.50);
    border-radius: 10px;
}
.results-list>li:hover .mouse{
    display: block !important;
    right: -1rem;
    bottom: -1.1rem;
    width: 12%;
    padding-top: 12%;background-color: #2B2E33;
}
.results-list>li:hover>.wavy-lines{
    background-image: url("../img/wavy-lines2.png") !important;
    background-repeat: no-repeat;
}
/*team*/
.team{
    position: relative;
    width: 100%;
    height: 100%;
}
.team .team-l{
    float: left;
    padding: 5% 5% 0 18%;
    width: 49.9%;
    background: #EEEFEE;
}
.team .team-r{
    float: right;
    padding: 5% 18% 0 5%;
    width: 49.9%;
    height: 100%;
    background: #FFFFFF;
}
.team .team-l h2, .team .team-r h2{
    margin-bottom: 20px;
    font-size: 4.8rem;
    color: #4A4A4A;
    text-align: center;
}
.team .jobs-tab{
    width: 300px;
    margin: auto;
}
.team .jobs-tab>li{
    width: 135px;
    line-height: 2rem;
    float: left;
    margin-right: 10px;
    font-size: 1.4rem;
    text-align: center;
    color: #9b9b9b;
    background: #F0F4F8;
    border-radius: 100px;
}
.team .jobs-tab>.active{
    color: #fff;
    background-image: linear-gradient(90deg, #2577FF 33%, #00BEFF 100%);
}
jobs-block-tab> .active{
    display: block;
}
.jobs-block{
    min-height: 460px;
    margin-top: 22px;
    padding: 26px 5% 15% 5%;
}
.jobs-block .jobs-content{padding-bottom: 20px}
.jobs-block .jobs-content h3 {
    margin-bottom: 9px;
    font-size: 1.4rem;
    color: #878787;
    font-weight: 700;
    line-height: 1.5;
}
.jobs-block .jobs-content ol>li {
    font-family: 'PingFangSC-Light';
    list-style:none;
    color: #999;
    line-height: 1.4;
}

.team .team-bottom-bg{
    width: 100%;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0px;*/
    /*right:0;*/
    padding-top: 33%;
    background-size: cover;
}
.team .team-l .designer{
    background-image: url("../img/team-designer.png");
}
.team .team-r .programmer{
    width:70%;
    margin: auto;
    background-image: url("../img/team-programmer.png");
}

.office-bg{
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("./../img/ofice.png");
}
.office-bg .office-container{
    position: absolute;
    top:30%;
    left:0;
    right: 0;
    margin: auto;
    width: 50%;
}
.office-bg .office-container .office-text-bg{
    padding-top: 14%;
    background-size: cover;
    background-image: url("./../img/office-text.png");
}
.office-bg .office-container p{
    padding: 2rem;
    font-size: 1.8rem;
    color: #FFFFFF;
}

/*响应*/
@media screen and (max-width: 1400px) {
     .intro-text .web-font{
        display: block;
        font-size: 3.2rem;
    }
    .intro-text p{
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .results-list>li .sp-f60{
        font-size: 5.4rem !important;
    }
    .results-list>li .sp-f36{
        font-size: 2.4rem !important;
    }
    .results-list>li .sp-f18{
        font-size: 1.6rem !important;
    }
}
@media screen and  (max-width: 1220px) {
    .intro-data{
        padding:10% 15%;
    }
    .are-doing .web-font{
        padding: 0;
    }
     .service{
        padding:10%;
    }
    /*招聘*/
    .team .team-l {
        padding: 5% 5% 0 10%;
    }
     .team .team-r {
        padding: 5% 10% 0 5%;
    }
}
@media screen and  (max-width: 999px) {
    .intro-text .web-font{
        display: block;
        font-size: 1.8rem;
    }
    .intro-text p{
        font-size: 1.4rem;
    }
    .are-doing .web-font{
        padding: 0;
    }
     .service{
        padding:10%;
    }
    /*我们的成绩*/
    .results-list{
        margin: 5% 0;
    }
    .results-list>li .sp-f60{
        font-size: 4.8rem !important;
    }
    .results-list>li .sp-f36{
        font-size: 1.8rem !important;
    }
    .results-list>li .sp-f18{
        font-size: 1.4rem !important;
    }
}
@media screen and (max-width: 767px) {
    .are-doing .web-font,
    .service-text .web-font,
    .results-container .web-font{font-size: 4.2rem!important; padding: 1rem 0}

    .intro-data .intro-text{width: 100%;float: none}
    .intro-data .header-data-bg{display: none}
    .intro-text .web-font{font-size: 2rem}
    .video-details{
        position: absolute;
        right: 5%;
        top:0;
        width: 90px;
        height: 3rem;
        padding: 0;
        line-height: 3rem;
        font-size: 1.2rem;
    }
    /*内容部分*/
    .are-doing-list>li{
        float: none;
        width: 100%;
        margin: 5% auto !important;
    }
     .service{
        padding:10%;
    }
    .service .service-text, .service .service-bg{
        width: 100%;
        float: none;
    }
     .service .service-bg{
         padding-top: 53%;
     }
     .are-doing-list{padding: 0}

     .service .service-details, .office-details{
         width: 120px;
         line-height: 3rem;
         font-size: 1.6rem;
         margin-top: 1rem;
     }
    /*我们的成绩*/
    .results-list>li{
        width: 40%;
        float: none;
        padding:10% 0;
    }
    .results-list>li .sp-f60{
        font-size: 6rem !important;
    }
    .results-list>li .sp-f36{
        font-size: 3rem !important;
    }
    .results-list>li .sp-f18{
        font-size: 1.8rem !important;
    }

    /*招聘*/
     .team .team-l, .team .team-r{
         width: 100%;
         float: none;
         padding: 5% 15% 0%;
    }
     .jobs-block{
         min-height: 200px;
         padding: 26px 5% 10% 5%;
     }

    .office-bg{height: 300px;}
    .intro-text p{
        overflow: auto;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 100;
    }
    .office-bg .office-container{
        width: 80%;
        top:10%;
    }
}
@media screen and (max-width: 321px) {
}
